@using Packt.Shared
@{
  ViewData["Title"] = "Home Page";
  Product[]? products = ViewData["products"] as Product[];
}
<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
  @if (products is not null)
  {
    <h2>Products that start with '@ViewData["startsWith"]' using OData</h2>
    <p>
      @if (products.Length == 0)
      {
        <span class="badge rounded-pill bg-danger">No products found.</span>
      }
      else
      {
        @foreach (Product p in products)
        {
          <span class="badge rounded-pill bg-info text-dark">
            @p.ProductId 
            @p.ProductName 
            @(p.UnitPrice is null ? "" : p.UnitPrice.Value.ToString("c"))
          </span>
        }
      }
    </p>
  }
  <form method="get">
    Product name starts with:
    <input name="startsWith" value="@ViewData["startsWith"]" />
    Press ENTER to search.
  </form>
</div>
